/* ----------------------------------------------------------------------------------
	Hoja de estilos global

	Desarrollado por Servicios Avanzados para las Instituciones S.L. (VIAVANSI)
	Contacto: comercial@viavansi.com
	http://www.viavansi.com	
	
	Encoding:	UTF-8
	Autor:		Juan G. Hurtado
	e-Mail:		jghurtado@viavansi.com
----------------------------------------------------------------------------------
	Indice de contenidos
----------------------------------------------------------------------------------
	1.GLOBALS
	2.MODULES
	3.HEADER
	4.MAIN MENU
	5.BODY
	6.FOOTER
	7.INTERNET-EXPLORER
		7.1.IE6
		7.2.IE7
		7.3.IE8
		7.4.IE9
---------------------------------------------------------------------------------- */

/* =GLOBALS
---------------------------------------------------------------------------------- */


/* =MODULES
---------------------------------------------------------------------------------- */


/* =HEADER
---------------------------------------------------------------------------------- */


/* =MAIN MENU
---------------------------------------------------------------------------------- */


/* =BODY
---------------------------------------------------------------------------------- */


/* =FOOTER
---------------------------------------------------------------------------------- */


/* =INTERNET-EXPLORER
---------------------------------------------------------------------------------- */


/* =|IE6
--------------------------------- */


/* =|IE7
--------------------------------- */


/* =|IE8
--------------------------------- */


/* =|IE9
--------------------------------- */