---
title: Home
---

<% content_for :css do %>
<% end %>

<% content_for :js do %>
<% end %>

<div class="msg error">
  <p>Lorem ipsum <a href="#">dolor sit</a> amet</p>
</div>

<div class="msg warn">
  <p>Lorem ipsum <a href="#">dolor sit</a> amet</p>
</div>

<div class="msg info">
  <p>Lorem ipsum <a href="#">dolor sit</a> amet</p>
</div>

<div class="msg success">
  <p>Lorem ipsum <a href="#">dolor sit</a> amet</p>
</div>

<form>
  <fieldset>
    <legend>Sample form</legend>

    <p>
      <label for="input-text-error">Sample Input Text <span class="hint">(with error)</span> <span class="requerido">*</span></label>
      <input type="text" class="text error" id="input-text-error" />
      <span class="error">Error message</a>
    </p>

    <hr class="separator" />

    <p>
      <label for="input-textarea">Sample Input Textarea <span class="requerido">*</span></label>
      <textarea id="input-textarea"></textarea>
      <span class="hint">Sample hint text lorem ipsum dolor</span>
    </p>

    <hr class="separator" />

    <div class="group">
      <div class="col a-02">
        <p>
          <label for="input-select">Sample Select <span class="requerido">*</span></label>
          <select id="input-select" class="chosen">
            <option value="1">Sample value 1</option>
            <option value="2">Sample value 2</option>
            <option value="3">Sample value 3</option>
            <option value="4">Sample value 4</option>
          </select>
        </p>
      </div>

      <div class="col">
        <p>
          <label for="input-text">Sample Input Text <span class="requerido">*</span></label>
          <input type="text" class="text" id="input-text" />
        </p>
      </div>
    </div>

    <hr class="separator" />

    <div class="checkbox">
      <p class="title">Vertical checkboxes</p>

      <p>
        <label for="sample-checkbox-01">
          <input type="checkbox" id="sample-checkbox-01" name="check" value="01">
          Sample checkbox 01
        </label>
      </p>

      <p>
        <label for="sample-checkbox-02">
          <input type="checkbox" id="sample-checkbox-02" name="check" value="02">
          Sample checkbox 02
        </label>
      </p>

      <p>
        <label for="sample-checkbox-03">
          <input type="checkbox" id="sample-checkbox-03" name="check" value="03">
          Sample checkbox 03
        </label>
      </p>
    </div>

    <hr class="separator" />

    <div class="checkbox horizontal">
      <p class="title">Horizontal checkboxes</p>

      <p>
        <label for="sample-checkbox-04">
          <input type="checkbox" id="sample-checkbox-04" name="check" value="04">
          Sample checkbox 04
        </label>
      </p>

      <p>
        <label for="sample-checkbox-05">
          <input type="checkbox" id="sample-checkbox-05" name="check" value="05">
          Sample checkbox 05
        </label>
      </p>

      <p>
        <label for="sample-checkbox-06">
          <input type="checkbox" id="sample-checkbox-06" name="check" value="06">
          Sample checkbox 06
        </label>
      </p>
    </div>

    <hr class="separator" />

    <div class="radio">
      <p class="title">Vertical radio buttons</p>

      <p>
        <label for="sample-radio-01">
          <input type="radio" id="sample-radio-01" checked="checked" name="radio" value="01">
          Sample radio 01
        </label>
      </p>

      <p>
        <label for="sample-radio-02">
          <input type="radio" id="sample-radio-02" name="radio" value="02">
          Sample radio 02
        </label>
      </p>

      <p>
        <label for="sample-radio-03">
          <input type="radio" id="sample-radio-03" name="radio" value="03">
          Sample radio 03
        </label>
      </p>
    </div>

    <hr class="separator" />

    <div class="radio horizontal">
      <p class="title">Horizontal radio buttons</p>

      <p>
        <label for="sample-radio-04">
          <input type="radio" id="sample-radio-04" name="radio-horizontal" checked="checked" value="04">
          Sample radio 04
        </label>
      </p>

      <p>
        <label for="sample-radio-05">
          <input type="radio" id="sample-radio-05" name="radio-horizontal" value="05">
          Sample radio 05
        </label>
      </p>

      <p>
        <label for="sample-radio-06">
          <input type="radio" id="sample-radio-06" name="radio-horizontal" value="06">
          Sample radio 06
        </label>
      </p>
    </div>
  </fieldset>
</form>

<table>
  <thead>
    <tr>
      <th>header</th>
      <th><a href="#">header</a></th>
      <th>header</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>data</td>
      <td><a href="#">data</a></td>
      <td>data</td>
    </tr>
  </tfoot>
  <tbody>
    <% 5.times do%>
    <tr>
      <td>data</td>
      <td><a href="#">data</a></td>
      <td>data</td>
    </tr>
    <% end %>
  </tbody>
</table>