<!doctype html>
<!--[if lt IE 7]><html lang="es-ES" class="ie ie6 ltie9 ltie8 ltie7"><![endif]-->
<!--[if IE 7]><html lang="es-ES" class="ie ie7 ltie9 ltie8"><![endif]-->
<!--[if IE 8]><html lang="es-ES" class="ie ie8 ltie9"><![endif]-->
<!--[if IE 9]><html lang="es-ES" class="ie ie9"><![endif]-->
<!--[if gt IE 9]><html lang="es-ES" class="ie"><![endif]-->
<!--[if !IE]><!-->
<html lang="es-ES">
<!--<![endif]-->
<head>
  <!--[if IE]><![endif]-->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title><%= @item[:title] %></title>

  <!-- Styles -->
  <link href="<%= css_path('framework-min.css') %>" rel="stylesheet" />
  <link href="<%= css_path('chosen-min.css') %>" rel="stylesheet" />
  <link href="<%= css_path('styles.css') %>" rel="stylesheet" />
  <%= content_for(@item, :css) %>

  <!-- Scripts -->
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="http://code.jquery.com/jquery-1.7.min.js"></script>
  <script src="<%= js_path('/chosen.jquery-min.js') %>"></script>
  <%= content_for(@item, :js) %>
  <script src="<%= js_path('/main.js') %>"></script>
</head>
<body>
  <h1><%= @item[:title] %></h1>

  <%= yield %>
</body>
</html>