/* ---------------------------------------------------------------------------
  Global stylesheet

  Encoding: UTF-8
  Authors:
    Juan G. Hurtado   [hello@juanghurtado.com]
------------------------------------------------------------------------------
  Table of contents
------------------------------------------------------------------------------
  1.IMPORTS & VARS
  2.GLOBALS
    2.1.Layout
    2.2.Visual
  3.COMPONENTS
    3.1.Icons
    3.2.Tables
    3.3.Pagination
    3.4.Messages
    3.5.Forms
    3.6.Buttons
    3.7.Boxes
  4.HEADER
  5.NAV
  6.CONTENT
  7.FOOTER
--------------------------------------------------------------------------- */

/* =IMPORTS & VARS
--------------------------------------------------------------------------- */
@import './elements-less/elements.less';

// ---------------------------------------------------------------------------
// GLOBALS
// ---------------------------------------------------------------------------
@global-background-color: #fff;
@global-text-color: #666;
@global-link-text-color: #0069D6;

// ---------------------------------------------------------------------------
// VISUAL
// ---------------------------------------------------------------------------
@separator-background-color: #ddd;

// ---------------------------------------------------------------------------
// TABLES
// ---------------------------------------------------------------------------
// Background color
@table-background-color: #fff;
@table-header-background-color: #aaa;
@table-body-background-color: #fff;
@table-footer-background-color: #ddd;

// Border color
@table-border-color: #ccc;
@table-header-border-color: #ccc;
@table-body-border-color: #ccc;
@table-footer-border-color: #ccc;

// Text color
@table-text-color: #666;
@table-header-text-color: #fff;
@table-body-text-color: #666;
@table-footer-text-color: #666;

// Link color
@table-link-color: #333;
@table-header-link-color: #fff;
@table-body-link-color: #333;
@table-footer-link-color: #333;

// ---------------------------------------------------------------------------
// MESSAGES
// ---------------------------------------------------------------------------
// Errors
@error-background-color: #FBE3E4;
@error-border-color: #FBC2C4;
@error-text-color: #8A1F11;

// Warning
@warning-background-color: #FFF6BF;
@warning-border-color: #FFD324;
@warning-text-color: #514721;

// Info
@info-background-color: #D5EDF8;
@info-border-color: #92CAE4;
@info-text-color: #205791;

// Success
@success-background-color: #E6EFC2;
@success-border-color: #C6D880;
@success-text-color: #264409;

// ---------------------------------------------------------------------------
// FORMS
// ---------------------------------------------------------------------------
// Fieldset
@fieldset-border-color: #ccc;
@legend-text-color: #333;

// Extras
@hint-text-color: #999;

// Controls
@controls-background-color: #fff;
@controls-border-color: #ccc;
@controls-text-color: #444;


/* =GLOBALS
--------------------------------------------------------------------------- */
body {
  background-color: @global-background-color;
  color: @global-text-color;
  font-size: 13px;
  line-height: 1.3846em;
}

body, input, button, select, option, optgroup, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input, button, select, option, optgroup, textarea {
  font-size: 1em;
}

code {
  background-color: #FEE9CC;
  color: darken(@global-text-color, 15%);
  font-family: "Monaco", "Andale Mono" , "Courier New", monospace;
  font-size: .9230em;
  font-style: normal;
  font-weight: normal;
  padding: 1px 3px;

  .rounded(3px);
}

h1, h2, h3, h4, h5, h6 {
  color: darken(@global-text-color, 15%);
  line-height: 2.2;
}

h1, h2, h3, h4, h5, h6 {
  small {
    color: lighten(@global-text-color, 20%);
    font-size: 1em;
    font-weight: normal;
  }
}

h1, h2, h3 {
  small {
    font-size: 0.8em;
  }
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  color: lighten(@global-text-color, 5%);
  font-size: 1.1em;
}

p {
  margin-bottom: 1em;
}

strong {
  color: darken(@global-text-color, 15%);
}

a {
  color: @global-link-text-color;

  &:focus, &:hover {
    color: darken(@global-link-text-color, 15%);
    text-decoration: underline;
  }
}

/* =|Layout
----------------------------------------- */
.wrapper {
  margin: 0 auto;
  width: 960px;
}

/* =|Visual
----------------------------------------- */
hr.separator {
  background: @separator-background-color;
  border: 0;
  height: 1px;
  margin: 1em 0;
}


/* =COMPONENTS
--------------------------------------------------------------------------- */

/* =|Icons
----------------------------------------- */
span.icon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin: 0 0.25em;
  vertical-align: middle;
  width: 16px;

  .cross-01 {
    background-image: url(../images/icons/cross-01.png);
  }
}

/* =|Tabs
----------------------------------------- */
ul.tabs {
  border-bottom: 1px solid #ddd;
  list-style-type: none;
  margin-bottom: 1em;

  li {
    float: left;
    margin-left: 0.5em;

    a {
      display: block;
      line-height: 2.7153em;
      padding: 0 0.75em;
      text-decoration: none;
      .border-radius(5px, 0, 0, 5px);

      &:focus, &:hover {
        background-color: #efefef;
      }
    }

    &.current {
      bottom: -1px;
      position: relative;

      a {
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom: 0;
        color: #444;
        line-height: 2.6153em;
        text-decoration: none;
        .border-radius(5px, 0, 0, 5px);
      }
    }
  }
}

/* =|Expands
----------------------------------------- */
.expand-wrapper {

  .expand-title {
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;

    &:before {
      content: '▸';
      display: inline-block;
      padding: 0 0.5em 0 0;
    }

    &.state-opened:before {
      content: '▾';
    }
  }

  .expand-body {}
}

body.js .expand-wrapper .expand-body {
  display: none;
}

body.js .expand-wrapper.visible .expand-body {
  display: block;
}

/* =|Tables
----------------------------------------- */
table {
  background-color: @table-background-color;
  border: 1px solid @table-border-color;
  margin-bottom: 1em;
  width: 100%;

  a {
    color: @table-link-color;

    &:focus, &:hover {
      text-decoration: underline;
    }
  }

  th, td {
    border: 0;
    padding: 0.5em;
    text-align: left;
  }

  // Header
  thead th {
    background: @table-header-background-color;
    border: 1px solid @table-header-border-color;
    color: @table-header-text-color;

    a {
      color: @table-header-link-color;

      &:focus, &:hover {}
    }
  }

  // Body
  tbody tr {

    td {
      background-color: @table-body-background-color;
      border: 1px solid @table-body-border-color;
      color: @table-body-text-color;

      a {
        color: @table-body-link-color;

        &:focus, &:hover {}
      }
    }

    &:nth-child(even) td,
    &.even td {
      background-color: darken(@table-body-background-color, 5%);
    }

    &:hover td,
    &.hover td {
      background-color: darken(@table-body-background-color, 10%);
    }
  }

  // Footer
  tfoot td {
    background-color: @table-footer-background-color;
    border: 1px solid@table-footer-border-color;
    color: @table-footer-text-color;

    a {
      color: @table-footer-link-color;

      &:focus, &:hover {}
    }
  }
}

/* =|Pagination
----------------------------------------- */

/* =|Messages
----------------------------------------- */
dl.rich-messages dt, div.msg {
  border-style: solid;
  border-width: 2px;
  margin-bottom: 1em;
  padding: 0.5em;
  .rounded(4px);

  p {
    margin: 0;
  }

  a {
    font-weight: bold;

    &:focus, &:hover {}
  }

  &.rich-messagesError, &.rich-messagesError a,
  &.error, &.error a {
    background-color: @error-background-color;
    border-color: @error-border-color;
    color: @error-text-color;
  }

  &.rich-messagesWarn, &.rich-messagesWarn a,
  &.warn, &.warn a {
    background-color: @warning-background-color;
    border-color: @warning-border-color;
    color: @warning-text-color;
  }

  &.rich-messagesInfo, &.rich-messagesInfo a,
  &.info, &.info a {
    background-color: @info-background-color;
    border-color: @info-border-color;
    color: @info-text-color;
  }

  &.rich-messagesSuccess, &.rich-messagesSuccess a,
  &.success, &.success a {
    background-color: @success-background-color;
    border-color: @success-border-color;
    color: @success-text-color;
  }
}

/* =|Forms
----------------------------------------- */
form {

  .group {
    margin-bottom: -1em;
  }

  p {
    margin-bottom: 1em;
  }

  hr.separator {
    margin: 1em 0;
  }
}

/* Fieldset
------------ */
fieldset {
  border: 1px solid @fieldset-border-color;
  margin-bottom: 1em;
  padding: 0.75em 1em 0.25em 1em;
  .rounded(4px);

  legend {
    color: @legend-text-color;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0 0.25em;
  }
}

/* Label
--------- */
label {
  display: block;

  span.hint {
    display: inline;
  }

  span.required,
  span.requerido {
    color: @error-text-color;
    font-weight: bold;
  }
}

/* Error label
--------------- */
span.error {
  color: @error-text-color;
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 0.25em;
}

/* Hint
-------- */
span.hint {
  color: @hint-text-color;
  display: block;
  font-size: 0.9em;
  font-style: italic;
}

/* Controls
------------ */
input.text,
select,
textarea {
  background: @controls-background-color;
  border: 1px solid @controls-border-color;
  color: @controls-text-color;
  line-height: 1;
  padding: 0.5em;

  .rounded(4px);

  &.disabled {
    cursor: default;
    .opacity(0.5);
  }
}

select {
  padding: 0.4em 0.5em;
}

.checkbox, .radio {

  // To avoid weirdness with JSF output
  // HTML for checkboxes and radio buttons
  table, td {
    background: none;
    border: 0;
    padding: 0;
  }

  &.disabled {
    label {
      color: #aaa;
    }
  }
}

/* Texts and textareas
----------------------- */
input.text,
textarea {

  &.error {
    background-color: lighten(@error-background-color, 5%);
    border-color: lighten(@error-border-color, 5%);
    color: @error-text-color;
  }
}

/* Checkboxes and radio buttons
-------------------------------- */
.checkbox, .radio {
  margin-bottom: 1em;

  p {
    margin-bottom: 0.5em;
  }

  .title {
    font-weight: bold;
  }

  label {
    display: inline-block;
  }

  &.horizontal {
    overflow: hidden;

    p {
      float: left;
      margin-right: 1em;
    }

    p.title {
      float: none;
      margin-right: 0;
    }
  }
}

/* Chosen
---------- */
.chzn-container {
  display: block;
  max-width: 100%;
}

.chzn-container-single .chzn-single,
.chzn-container .chzn-drop {
  background: @controls-background-color;
  border: 1px solid @controls-border-color;
  box-shadow: none;
}

.chzn-container-single .chzn-single div {
  border: 0
}

.chzn-container-single .chzn-single div b,
.chzn-container .chzn-results .highlighted {
  background-color: #ddd;
  color: #222;
}

/* =|Buttons
----------------------------------------- */
.button-colors {
  background-color: #eee;
  border: 1px solid #ccc;
  color: #333;
}

a.button, input.button, button.button {
  .button-colors;
  cursor: pointer;
  display: inline-block;
  padding: 0.25em 0.5em;
  .rounded(3px);
  text-align: center;

  &:focus, &:hover {
    background-color: darken(#eee, 5%);
    border-color: darken(#ccc, 10%);
    text-decoration: none;
  }

  &:active {}

  &.disabled {
    .button-colors;
    cursor: default;
    .opacity(0.5);
  }
}

a.button {
  line-height: 1.5em;
  padding: 0.22em 0.75em;
}

/* Button big
-------------- */
a.button-big, input.button-big, button.button-big {
  font-size: 1.25em;
}

a.button-big {
  padding: 0.185em 0.75em;
}

/* Button-01
------------- */
a.button-01, input.button-01, button.button-01 {

  &:focus, &:hover {}

  &:active {}
}

/* =|Boxes
----------------------------------------- */
.box {

  .box-title {}

  .box-content {}
}

/* Box-01
---------- */
.box-01 {

  .box-title {}

  .box-content {}
}


/* =HEADER
--------------------------------------------------------------------------- */


/* =NAV
--------------------------------------------------------------------------- */


/* =CONTENT
--------------------------------------------------------------------------- */


/* =FOOTER
--------------------------------------------------------------------------- */